.footer{
    width: auto;
    border:0px;
    border-top: 1px grey;
    border-style: solid;
    padding-bottom: 50px;
    padding-top: 20px;
    text-align: center;
    display:flex;
}
.footerLink{
    font-size: 20px;
}
.footer_div{
    width: fit-content;
}
.images{
    width:50%
}