.container{
    width: 100%;
    height: 90px;
    margin-bottom: 25px;
    border: 0px;
    border-bottom: 1px grey;
    border-style: solid;
    position: fixed;
    background-color: white;
    top: 0;
}
.title{
    float:left;
    padding-left: 50px;
}
.social-buttons{
    float:right;
}
.navigation{
    position: relative;
    display: block;
    height: 90px;
    float:right;
    padding-right: 30px;
    /* border-right: 1px solid blue; */
}

/* Used when desktop platform is in use */

.desktopNav{
    display: flex;
}

ul{
    list-style: none;
}
li{
    padding-top:15px;
}
a{
    padding: 15px;
    font-size: 22px;
    color: black;
}

.navButton{
    background-color: white;
    font-size: 22px;
    border: none;
    position: absolute;
    padding-right: 5px;
    right: 30px;
    top: 20px
}
.navButtonButNotTheImportantOne{
    background-color: white;
    font-size: 22px;
    border: none;
}

.navMenu {
    list-style: none;
    position: fixed;
    top: 0;
    background: white;
    right: -300px;
    bottom: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    max-width: 290px;
    z-index: 9;
    border: 0px;
    border-left: 1px black;
    border-style: solid;
}
.showMenu{
    right: 0;
    animation-name: openNav;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.closeMenu{
    animation-name: closeNav;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes closeNav {
    from{
        right:0px
    }
    to{
        right:-300px;
    }
}

@keyframes openNav {
    from{
        right:-300px
    }
    to{
        right: 0px;
    }
}