.story{
    width: 350px;
    display:inline-block;
    padding-left: 30px;
    padding-right: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 30px;
    vertical-align: top;
    height:auto;
}

.story_image{
    width: 350px;
    height: 350px;
}